<li class='add_or_remove_team' id="team_<%=team.id.to_s%>">
    <img src=<%= team.picture_url %>
    <p style="display:inline;"><%= link_to team.name, team_path(team) %> </p>
    <% if user_signed_in? %>
        <% if current_user.teams.include?(team) %>
        <% userTeam = current_user.userTeams.where(team_id:team.id).first.id%>
            <%= link_to "" , user_team_path(id: userTeam), :remote => true, method: :delete, :class => 'fi-heart' , :style => "font-size:25px; color:red;"%>
        <% else %>
            <%= link_to "" , user_teams_path(user_id: current_user.id, team_id: team.id), method: :post,  :remote => true, :class => 'fi-heart' , :style => "font-size:25px; color:grey;"%>
        <% end %>

    <% end %>
    </br>
    </br>
</li>