<%= provide(:title , "Team Index") %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css">
<style type="text/css">
ul {
  list-style-type: none;
}
  #teamlist {
    clear:both;
  }


  #sport-tabs {
    /*border-radius: 5px;*/
  }
  .sport-tab:hover {
    background-color: white;
    color: black;
  }
  .sport-tab {
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    text-align: center;
    height:50px;
    background-color: #212121;
    color: white;
    text-align: center;
    font-size: 28px;
  }
</style>
<br><hr>
<div class='large-10 medium-10 small-12 large-centered medium-centered columns'>
      <h2>Add your favorite teams by clicking the button next to the team name</h2>
    <h5>Added teams will appear on your user profile</h5>
  <ul class="tabs" data-tabs id="example-tabs">
    <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Baseball</a></li>
    <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Basketball</a></li>
    <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Football</a></li>
    <li class="tabs-title"><a data-tabs-target="panel4" href="#panel4">Hockey</a></li>
    <li class="tabs-title"><a data-tabs-target="panel5" href="#panel5">Soccer</a></li>
  </ul>
<hr>

  <div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel is-active" id="panel1">
      <ul id="basketball-teams" class=''>
        <% @teams.where(sport_string: "baseball").each do |team| %>
          <div class="large-4 columns">
            <li><%= render team %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="panel2">
      <ul id="basketball-teams" class=''>
        <% @teams.where(sport_string: "basketball").each do |team| %>
          <div class="large-4 columns">
            <li><%= render team %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="panel3">
      <ul id="basketball-teams" class=''>
        <% @teams.where(sport_string: "football").each do |team| %>
          <div class="large-4 columns">
            <li><%= render team %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="panel4">
      <ul id="basketball-teams" class=''>
        <% @teams.where(sport_string: "hockey").each do |team| %>
          <div class="large-4 columns">
            <li><%= render team %></li>
          </div>
        <% end %>
      </ul>
    </div>

    <div class="tabs-panel" id="panel4">
      <ul id="basketball-teams" class=''>
        <% @teams.where(sport_string: "soccer").each do |team| %>
          <div class="large-4 columns">
            <li><%= render team %></li>
          </div>
        <% end %>
      </ul>
    </div>

  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/js/foundation.min.js"></script>
<script>
  $(document).foundation();
</script>
