<div class="large-9 columns large-centered">
  <div class="large-2 columns">
    <h4>NBA</h4>
    <h5>Head Coach</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h4>NHL</h4>
    <h5>Head Coach</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h4>MLB</h4>
    <h5>Head Coach</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h4>NFL</h4>
    <h5>Head Coach</h5>
    <h5>Other</h5>
    <h5>Other</h5>
    <h5>Other</h5>
  </div>

<div class="large-10 columns">

  <h3 style="text-align: center; margin-top: 40px; margin-bottom: 15px;">team approval ratings</h3>

    <% @top_basketball.each do |team| %>
    <div class='large-4 medium-6 small-12 columns' style='margin-bottom:10px;'>
      <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
      <%= link_to team.name, team, :style => "font-size: 21px; margin-left: 15px; color: black;" %>
       <p style='display:inline;'><%= team.score_percentage("team") %>%</p>
      <hr style="margin: 5px;">
    </div>
    <% end %>



  <h3 style="text-align: center; padding-top: 40px; margin-bottom: 15px; height: 50px;">Head Coach Approval Ratings</h3>
    <% @top_basketball.each do |team| %>
    <div class='large-4 medium-6 small-12 columns' style='margin-bottom:10px;'>
      <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
      <%= link_to team.coach, team.coach_debate, :style => "font-size: 21px; margin-left: 15px; color: black;" %>
       <p style='display:inline;'><%= team.score_percentage("coach") %>%</p>
      <hr style="margin: 5px;">
    </div>
    <% end %>


  <h3>Front Office Approval Ratings</h3>
  <ul style="padding: 0px; margin: 0px;">
    <% @top_basketball.each do |team| %>
    <div class='large-4 medium-6 small-12 columns' style='margin-bottom:10px;'>
      <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
      <%= link_to team.frontoffice, :style => "font-size: 21px; margin-left: 15px; color: black;" %>
       <p style='display:inline;'><%= team.score_percentage("frontoffice") %>%</p>
      <hr style="margin: 5px;">
    </div>
    <% end %>
  </ul>


  <h3>Stadium Rating</h3>
  <ul style="padding: 0px; margin: 0px;">
    <% @top_basketball.each do |team| %>
    <div class='large-4 medium-6 small-12 columns' style='margin-bottom:10px;'>
      <img src=<%= team.thumb %> style="width:40px; height:40px; border-radius:50%;">
      <%= link_to team.stadium, team.stadium_debate, :style => "font-size: 21px; margin-left: 15px; color: black;" %>
       <p style='display:inline;'><%= team.score_percentage("stadium") %>%</p>
      <hr style="margin: 5px;">
    </div>
    <% end %>
  </ul>

</div>
</div>
