<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="graph-area large-3 medium-3 small-12 columns" style="float:left;">
			<h3><%= @team.name %></h3>
				<img src=<%= @team.picture_url %> style="height:200px;width:200px;">
		<h3><%= @team.users.count %> people like this team</h3>
	<%= render partial: 'teams/graphs', locals: {team: @team}%>
</div>
<div class="row">
	<div class="large-3 columns" style="margin-left: 100px;">

	</div>

	<div class="large-7 columns" style="margin-right: 100px;">
		<h3> Recent <%= @team.name %> Posts </h3>
		<% @posts.each do |post| %>
		<div class='post'>
			<img width="250px" src="http://static2.businessinsider.com/image/561d966d6bb3f7da6687deee-1200/new-england-patriots-v-dallas-cowboys.jpg">
			<div class="pcontent">
				<h3 class="ptitle"><%= link_to post.title, post_path(post) %></h3>
				<h6 class="pscore">Score: <%= post.score %></h6>
				<p class="pauthor">By: <%= link_to post.user.name, post.user %></p><hr>
				<p class="date"></p>
			</div>
		</div>
		<% end %>
		<%= will_paginate @posts %>
	</div>
</div>








