<% provide(:title , @team.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<div class="graph-area large-3 medium-3 small-12 columns" style="float:left;">
			<h3><%= @team.name %></h3>
				<img src=<%= @team.picture_url %> style="height:200px;width:200px;">
		<h3><%= @team.users.count %> people like this team</h3>
	<%= render partial: 'teams/graphs', locals: {team: @team}%>
</div>

<!-- <hr> -->
<div class="row">
	<div class="large-9 columns" style='float:right;'>
		<h3> Recent <%= @team.name %> Posts </h3>
		<% @posts.each do |post| %>
		<div class='post'>
			<img width="250px" src="http://static2.businessinsider.com/image/561d966d6bb3f7da6687deee-1200/new-england-patriots-v-dallas-cowboys.jpg">
			<div class="pcontent">
				<h3 class="ptitle"><%= link_to post.title, post_path(post) %></h3>
				<h6 class="pscore">Score: <%= post.score %></h6>
				<p class="pauthor">By: <%= link_to post.user.name, post.user %></p><hr>
				<p class="date"></p>
			</div>
		</div>
		<% end %>
		<%= will_paginate @posts, :class => 'flickr_pagination' %>
	</div>
</div>

<div class="large-3 columns" style="background-color: white;">
		<h3 class="itemheader"><%= @team.name %> Leaderboard</h3>
			<ul class="lboardul">
				<% @users.each do |user| %>
					<!-- <img src=<%= user.thumbnail %> style="width:75px; height:75px; border-radius:50%;"> -->
					<img src="https://ih0.redbubble.net/image.318539865.1262/flat,800x800,075,f.u1.jpg" style="width:75px; height:75px; border-radius:50%;">
						<div class="lcell">
							<li class="lboard"><%= link_to user.name, user_path(user) %>
							<p class="lbscore"><%= user.this_weeks_score_team(@team.id) %></p></li>
						</div>
						<hr style="margin: 12px;">

						<% end %>

			</ul>
</div>
