<style>
.pcontent{
  margin-left: 238px;}

.ptitle a{
  color: #000;}

.pscore {
  float: right;
  font-size: 18px;
  bottom: 5px;}

.pauthor{
  float: left;
  font-size: 20px;}

.pauthor a{
  color: #89c0ff;
  font-weight: bold;}

.postscore {
  float: right;}

.vote {
  float: right;}
</style>

<% provide(:title , @team.name) %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>

<div class="row" style="width:95%">
<div class="large-9 columns large-centered">
	<div class="large-3 columns">
		<img src=<%= @team.full_size %> style="width: 175px; margin-left: auto; margin-right: auto; display: block;" >
		<h3 style="font-weight: bold; margin-top: 10px;">
			<%= @team.name %>
			<% if user_signed_in? %>
        <% if current_user.teams.include?(@team) %>
        <% userTeam = current_user.userTeams.where(team_id:@team.id).first.id%>
            <%= link_to "" , user_team_path(id: userTeam), :remote => true, method: :delete, :class => 'fi-heart' , :style => "font-size: 32px; color:red;"%>
        <% else %>
            <%= link_to "" , user_teams_path(user_id: current_user.id, team_id: @team.id), method: :post,  :remote => true, :class => 'fi-heart' , :style => "font-size:32px; color:grey;"%>
        <% end %>

  		<% end %>
		</h3>
		<h4><%= @team.users.count %> people like this team</h4>
		<hr>
		<%= render partial: 'teams/graphs', locals: {team: @team}%>
		<hr>
		<h3 class="itemheader"><%= @team.name %> Leaderboard</h3>
			<ul class="lboardul">
				<% @users.each do |user| %>
					<!--<img src=<%= user.thumbnail %> style="width:75px; height:75px; border-radius:50%;"> -->

						<div class="lcell">
							<li class="lboard"><%= link_to user.name, user_path(user) %>
							<p class="lbscore"><%= user.this_weeks_score_team(@team.id) %></p></li>
						</div>
						<hr style="margin: 12px;">
						<% end %>
			</ul>
	</div>
	<div class="large-9 columns">
		<% @posts.each do |post| %>
		<div class="large-4 columns">
				<img src="http://static2.businessinsider.com/image/561d966d6bb3f7da6687deee-1200/new-england-patriots-v-dallas-cowboys.jpg">
				</div>
		<div class="large-8 columns">
				<h3 class="ptitle"> <%= link_to post.title, post_path(post) %></h3>
				<h6 class="pscore">Score: <%= post.score %></h6>
				<p class="pauthor">By: <%= link_to post.user.name, post.user %></p><hr>
				<p></p>
			   </div>
		<% end %>
		<%= will_paginate @posts, :class => 'flickr_pagination' %>
</div>
</div>
