<h3>Creator Center</h3>

<%= link_to "Create new", new_post_path , :class => 'button'%>
<h3>Pending Posts</h3>
<ul>
<% @user.pending.each do |post| %>
	<li>
		<%= link_to post.title, post %>
	</li>
<% end %>
</ul>

<h3>Draft Posts</h3>
<ul>
<% @user.drafts.each do |post| %>
	<li>
	<%= link_to post.title, post %> | 
	<%=link_to "Edit", edit_post_path(post) %> |
		<% if post.status == "draft" or post.status == "rejected"%>
		  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	    <%= f.hidden_field :title, :value => post.title %>
	    <%= f.hidden_field :content, :value => post.content %>
	    <%= f.hidden_field :status, :value => "pending" %>
	    <%= f.submit 'Submit Post' %>
	  <% end %>
	<% end %>
	</li>
<% end %>
</ul>

<h3>Approved Posts</h3>
<ul>
<% @user.approved.each do |post| %>
	<li>
		<%= link_to post.title, post %>
	</li>
<% end %>
</ul>

<h3>Rejected Posts</h3>
<ul>
<% @user.rejected.each do |post| %>
<li>
	<%= link_to post.title, post %> | 
	<%=link_to "Edit", edit_post_path(post) %> |
	<% if post.status == "draft" or post.status == "rejected"%>
	  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
	    <%= f.hidden_field :user_id, :value => current_user.id %>
	    <%= f.hidden_field :title, :value => post.title %>
	    <%= f.hidden_field :content, :value => post.content %>
	    <%= f.hidden_field :status, :value => "pending" %>
	    <%= f.submit 'Submit Post' %>
  	<% end %>
	<% end %>
</li>
<% end %>
</ul>


<h3>Upload Profile Photo</h3>
<ul>
  <div id = 'uploader'></div>
  <button type="button" class="upload button" onclick="openUploader();">Upload Profile Photo</button>
  <%= javascript_include_tag 'ContentTools/build/content-tools' %>
  <%= javascript_include_tag 'editor' %>

</ul>
