<style> body{background-color: #f5f5f5;}</style>
<% provide(:title , "Creator Center") %>

<div class="row" style="margin-top: -25px;">
	<div class="large-5 columns large-centered" style="background-color: white; margin-top: 3%; padding-top: 10px; border-radius: 1%; border: 1px solid #e5e5e5;">
		<h3 style="text-align: center; font-weight: bold; ">Creator Center</h3><hr>

		<%= link_to "Create new", new_post_path(edit: false) , :class => 'button' , :style => "color: white; background-color: #87b5ff; font-weight: bold;"%>
		<h3>Pending Posts</h3>
		<ul>
		<% @user.pending.reverse.each do |post| %>
			<li>
				<%= link_to post.title, post %>
			</li>
		<% end %>
		</ul>

		<h3>Draft Posts</h3>
		<ul>
		<% @user.drafts.reverse.each do |post| %>
			<li>
			<%= link_to post.title, post %>

				<% if post.status == "draft" or post.status == "rejected"%>
				  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			    <%= f.hidden_field :title, :value => post.title %>
			    <%= f.hidden_field :content, :value => post.content %>
			    <%= f.hidden_field :status, :value => "pending" %>
			    <%=link_to "Edit", new_post_path(post: post, edit:true) , :class => 'button tiny '%>
			    <%= f.submit 'Submit Post' , :class => 'button tiny success'%>
			  <% end %>
			<% end %>
			</li>
		<% end %>
		</ul>

		<h3>Approved Posts</h3>
		<ul>
		<% @user.approved.reverse.each do |post| %>
			<li>
				<%= link_to post.title, post %>
			</li>
		<% end %>
		</ul>

		<h3>Rejected Posts</h3>
		<ul>
		<% @user.rejected.reverse.each do |post| %>
		<li>
			<%= link_to post.title, post %>
			<% if post.status == "draft" or post.status == "rejected"%>
			  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
			  <%=link_to "Edit", new_post_path(post: post, edit:true), :class => 'button tiny' %>
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			    <%= f.hidden_field :title, :value => post.title %>
			    <%= f.hidden_field :content, :value => post.content %>
			    <%= f.hidden_field :status, :value => "pending" %>
			    <%= f.submit 'Submit Post' , :class => 'button tiny success' %>
		  	<% end %>
			<% end %>
		</li>
		<% end %>
		</ul>



	</div>

</div>
