<% provide(:title , "Creator Center") %>
<div class="row" style="width: 90%;">
	<div class="large-8 columns large-centered">
		<div class="large-6 columns">
		<h3>Welcome to the Creator Center</h3>

		<%= link_to "Create new", new_post_path(edit: false) , :class => 'button'%>
		<h3>Pending Posts</h3>
		<ul>
		<% @user.pending.reverse.each do |post| %>
			<li>
				<%= link_to post.title, post %>
			</li>
		<% end %>
		</ul>

		<h3>Draft Posts</h3>
		<ul>
		<% @user.drafts.reverse.each do |post| %>
			<li>
			<%= link_to post.title, post %>

				<% if post.status == "draft" or post.status == "rejected"%>
				  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			    <%= f.hidden_field :title, :value => post.title %>
			    <%= f.hidden_field :content, :value => post.content %>
			    <%= f.hidden_field :status, :value => "pending" %>
			    <%=link_to "Edit", new_post_path(post: post, edit:true) , :class => 'button tiny '%>
			    <%= f.submit 'Submit Post' , :class => 'button tiny success'%>
			  <% end %>
			<% end %>
			</li>
		<% end %>
		</ul>

		<h3>Approved Posts</h3>
		<ul>
		<% @user.approved.reverse.each do |post| %>
			<li>
				<%= link_to post.title, post %>
			</li>
		<% end %>
		</ul>

		<h3>Rejected Posts</h3>
		<ul>
		<% @user.rejected.reverse.each do |post| %>
		<li>
			<%= link_to post.title, post %>
			<% if post.status == "draft" or post.status == "rejected"%>
			  <%= form_for [post], :html => {:id => 'postsubmit'} do |f| %>
			  <%=link_to "Edit", new_post_path(post: post, edit:true), :class => 'button tiny' %>
			    <%= f.hidden_field :user_id, :value => current_user.id %>
			    <%= f.hidden_field :title, :value => post.title %>
			    <%= f.hidden_field :content, :value => post.content %>
			    <%= f.hidden_field :status, :value => "pending" %>
			    <%= f.submit 'Submit Post' , :class => 'button tiny success' %>
		  	<% end %>
			<% end %>
		</li>
		<% end %>
		</ul>



	</div>
	<div class="large-6 columns">
			<h3>Creator Center Instructions</h3>
	</div>
</div>
</div>
