<style>
.userimage{
	float: left;
	margin-left: 1%;}

.username{
	font-size: 40px;
	line-height: 1;
	font-weight: bold;
	width: 70%;
	float: left;
	padding-left: 4%;
	padding-top: 2%;}

.userscore{
	width: 80%;
	float: left;
	font-size: 24px;
	padding-left: 4%;}

.userbio{
	padding-top: 15px;
	font-size: 20px;}

.uaptitle{
	line-height: 1;
	font-weight: bold;}
</style>


<% provide(:title , @user.name) %>
<div class="row" style="background-color: white; width: 95%; padding-top: 2%;">
	<!-- <div class="large-1 columns"><p></p></div> -->
	<div class="large-6 columns large-centered" style="background-color: white; padding: 0px;">
			<div class="row">
					<img class="userimage" src=<%= @user.full_size %>  style="width: 100px;height:100px; border-radius:100%;">
					<div class="username"><%= @user.name%></div>
					<div class="userscore">#<%= @user.this_weeks_rank %> this week | <%= @user.this_weeks_score%></div>
			</div>
			<div class="userbio"><%= @user.bio %></div>
			<hr>

			<div class="row">
			<% @posts.each do |post| %>
				<div class="large-4 columns"><img src=<%= post.full_size%> ></div>
				<div class="large-8 columns">
						<h4 class="uaptitle"><%= link_to post.title, post_path(post) %></h4>
						<h6 style="uapscore">Score: <%= post.score %></h6>
				</div>
			<hr>
			<% end %>
			<%= will_paginate @posts %>
		</div>
	</div>

<!--	<div class="large-4 columns" style="padding-left: 5%;">
		<h5 class="itemheader">Today's Leaderboard</h5>
				<ul class="lboardul">
					<% @users.each do |user| %>
					<li class="lboard"><%= link_to user.name, user_path(user) %> <p class="lbscore"><%= user.this_weeks_score %></p></li>
					<% end %>
				</ul>
				<br><hr>
		<h5 class="itemheader">Top Posts</h5>
				<% Post.all.sort_by{|p| p.score}.reverse.first(5).each do |post| %>
				<img src=<%= post.full_size%> >
				<p class="sidebarposttitle"><%= post.title %></p>
				<hr>
				<% end %>
	</div>
	<div class="large-1 columns"><p></p></div> -->
</div>
