<%= javascript_include_tag "foundation" %>
<div class="contain-to-grid sticky large-12 columns" style="background-color: #404ebc;">
  <nav class="top-bar large-12 columns" data-topbar role="navigation" data-options="sticky_on: large" style=" height: 50px; max-width:100rem; background-color: #404ebc;">
    <ul class="title-area" style="background-color: #404ebc; margin-left: 5%;">
      <li class="name"><a href="/"><img src="https://image.ibb.co/gef7wm/logo12345.png" style="width: 300px; height: 45px;"></a></li>
      <li class="toggle-topbar menu-icon"><a href="#" ><span></span></a></li>
    </ul>

    <% if user_signed_in? %>
    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class=""><%= link_to "Team Index" , teams_path %></li>
      <ul class="menu">
      <% if current_user.admin %>
        <li><%= link_to "Admin Panel", admin_path(id: current_user.id) %></li>
      <% end %>
      </ul>
          <!-- <li ><%= link_to "Logout" , destroy_user_session_path , method: "delete" %></li> -->
      <li class=""><%= link_to "Creator Center" ,  creator_path(id: current_user.id) %></li>
      <li class="" style='display:inline;'><%= link_to image_tag(current_user.thumbnail, :style => "height:35px;width:35px;border-radius:50%;"), current_user, :style => 'display:inline;' %><%= link_to current_user.name , current_user , :style => 'display:inline;'%></li>
      <!-- <li><%= link_to "Profile" , current_user %></li> -->
          <li><%= link_to "Settings" , edit_user_registration_path %> </li>
          <li ><%= link_to "Logout" , destroy_user_session_path , method: "delete" %></li>

      <!-- <li class="has-dropdown"> -->
        <!-- <ul class="dropdown"> -->
        <!-- </ul> -->
      <!-- </li> -->
    </ul>
    </section>

  <% else %>

    <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><a style="font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px; font-weight: bold;" href="/sports?sport=baseball">MLB</a></li>
      <li><a style="font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px; font-weight: bold;" href="/sports?sport=basketball">NBA</a></li>
      <li><a style="font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px; font-weight: bold;" href="/sports?sport=football">NFL</a></li>
      <li><a style="font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px; font-weight: bold;" href="/sports?sport=hockey">NHL</a></li>
      <li><%= link_to "Team Index" , teams_path, :style => "font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px; font-weight: bold;" %></li>
      <li><%= link_to "Sign In" , new_user_session_path, :style => " font-weight: bold; font-family: 'Karla', sans-serif; background-color: #404ebc; color: white; font-size: 20px;"%></li>
      <li><%= link_to "Create Account" , new_user_registration_path, :style => "font-family: 'Karla', sans-serif; font-weight: bold; background-color: #404ebc; color: white; font-size: 20px;"%></li>
      <li><a style="font-family: 'Karla', sans-serif; font-weight: bold; background-color: #404ebc; color: white; font-size: 20px;" href="/">About Us</a></li>
    </ul>
    </section>
  <% end %>
</nav>
</div>

<div class="icon-bar four-up" style="height: 45px; background-color: #f5f5f5; color: black; font-family: 'Karla', sans-serif; font-weight: bold;">
  <a class="item" href="/debates" style="color: black;">
    <label>Debate</label>
  </a>
  <a class="item" href="/">
    <label>Power Rankings</label>
  </a>
  <a class="item" href="/rankings">
    <label>Approval Ratings</label>
  </a>
  <a class="item" href="/leaderboard">
    <label>Writer Rankings</label>
  </a>
</div>


<div class="contain-to-grid large-12 columns" style="background-color: #f5f5f5;">
  <nav class="top-bar large-12 columns"  style=" height: 40px; max-width:100rem; background-color: #f5f5f5;">
    <ul class="title-area" style="background-color: #f5f5f5;">
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
      <section class="top-bar-section">
        <ul class="right">
        <li style="background-color: #f5f5f5; display: inline-block; padding: 20px;">ejofijreof</li>
        <li style="background-color: #f5f5f5; display: inline-block; padding: 20px;">owemfoewi</li>
        <li style="background-color: #f5f5f5; display: inline-block; padding: 20px;">ejofijreof</li>
        <li style="background-color: #f5f5f5; display: inline-block; padding: 20px;">owemfoewi</li><li style="background-color: #f5f5f5; display: inline-block">ejofijreof</li>
        <li style="background-color: #f5f5f5; display: inline-block; padding: 20px;">owemfoewi</li>
      </ul>
    </section>
  </nav>
</div>







<script type="text/javascript">
  $(document).foundation();

$('.title-bar').on('sticky.zf.stuckto:top', function(){
  $(this).addClass('shrink');
}).on('sticky.zf.unstuckfrom:top', function(){
  $(this).removeClass('shrink');
})
</script>
