<div class="large-6 columns large-centered">
	<h1><b><%= @debate.title %></b></h1>
		<h4><%= link_to @debate.team.name, @debate.team%></h4>
		<hr>
	<h4><%= @debate.description %></h4>


	<div class="large-12 columns large-centered medium-centered">
	<% if user_signed_in? %>
		<% comment = Comment.new %>
		<%= form_for(comment) do |f| %>
			<%= f.label :text %>
		  <%= f.text_field :text %><br />

		  <%= f.hidden_field :target_type, :value => "Debate" %>
		  <%= f.hidden_field :target_id, :value => @debate.id %>
		  <%= f.hidden_field :user_id, :value => current_user.id%>

		  <%= f.submit  :class => 'button tiny success' %>
		<% end %>
	<% end %>
	</br>
	<ul id="comments-list">
	<% if @debate.comments.count != 0 %>
		<% @debate.comments.sort_by{|comment| comment.score}.reverse.each do |comment| %>
			<%= render partial: 'comments/comment', locals: {comment: comment}%>
		<% end %>
	<% end %>
	</div>
</div>
