

<h3>
This will be the homepage. On here we can have the leaderboard and all the elements we need. Or break it up into smaller parts and pull them all together
</h3>

<h3>Leaderboard:</h3>
<% @users.each do |user| %>
<p><%= link_to user.username, user_path(user) %> - Score This Week: <%= user.this_weeks_score %></p>
<% end %>

<h3> Recent Posts </h3>
<% @posts.each do |post| %>
	<p style="display:inline;"><%= link_to post.title, post_path(post) %> - Score: <%= post.score %></p>
	<% if user_signed_in? %>
	<p style="display:inline;"><%=link_to "Up", vote_post_path(post, type: 'up', user_id: current_user.id, id: post.id), method: :post%></p>
	<p style="display:inline;"><%=link_to "Down", vote_post_path(post, type: 'down', user_id: current_user.id, id: post.id), method: :post%></p>
<% end %>
</br>
</br>
<% end %>
