<style>
@import url('//fonts.googleapis.com/css?family=Catamaran');

.sport{
	float: left;
	display: inline-block;
	width: 100%;
	padding-top: 1%;
	text-transform: uppercase;
	font-size: 15px;
	padding-left: 1px;
	color: #3d87ff;}

.title{
	font-size: 32px;
	width: 100%;
	line-height: 1;
	font-family: 'Catamaran', sans-serif;
	color: black;
	font-weight: bold;}

.date{
	font-family: 'Catamaran', sans-serif;}
</style>

<div class="large-8 columns large-centered">
<ul>
	<% @posts.each do |post|%>
		<li style="margin-bottom: 20px;">
				<div class="large-3 columns">
					<%= link_to image_tag(post.thumb_url, :style => "width: 100%; max-height: 175px;"), current_user %></div>
				<div class="large-9 columns">
					<h5 class="sport"><%= post.sport %></h5>
					<h3 class="title"><%= link_to post.title , post, :style => "color: #353535;"%></h3>
					<h5><%= link_to post.user.name, post.user, :style => "font-family: 'Catamaran', sans-serif; font-size: 20px; color: black;"%></h5>
					<!-- <h5 style="time"><%= time_ago_in_words(post.latest_time)%> ago </h5></div> -->
				</li><hr>
	<% end %>
</ul>
<%= will_paginate @posts, :class => 'flickr_pagination' %>
</div>
