<head xmlns:text-align="http://www.w3.org/1999/xhtml">
  <title>My page</title>
  <%= stylesheet_link_tag 'ContentTools/build/content-tools.min' %>
  <%= stylesheet_link_tag 'editor.css' %>


  <%= javascript_include_tag 'ContentTools/build/content-tools' %>
  <%= javascript_include_tag 'ContentEdit/build/content-edit' %>
  <%= stylesheet_link_tag 'ContentEdit/build/content-edit.min' %>
  <%= javascript_include_tag 'editor' %>
  <%= javascript_include_tag 'selectize/dist/js/standalone/selectize.min' %>
  <%= stylesheet_link_tag 'selectize/dist/css/selectize' %>

</head>
<body style="background-color:#E4E4E4;">

<div class="editor">
  <%= form_for [@post], :html => {:id => 'postsubmit'} do |f| %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <% if params[:edit] == 'true' %>
        <% p = Post.find(params[:post]) %>
        <%= f.hidden_field :exists, :value => true %>
        <%= f.hidden_field :post_id, :value => p.id %>
      <% else %>
        <%= f.hidden_field :exists, :value => false %>
      <%end%>

      <div class="editor-title">
        <label for="post_title">Title:</label>
        <%= f.hidden_field :title, :value => nil %>
        <% if params[:edit] == 'true' %>
            <%= f.text_field :title, :value => p.title %>
        <% else %>
            <%= f.text_field :title, :value => nil %>
        <% end %>
      </div>

      <div class="editor-tags">
        <div class="formrow">
          <label for="subject">Sport:</label>
          <%= f.select :sport, [['Baseball','baseball'],['Football','football'],['Hockey','hockey'],['Basketball','basketball']], :html => {:id => 'sport'} %>
        </div>
        <div class="formrow">
          <label for="tags">Teams:</label>
          <input type="text" id="tags" value= "<%= Team.all.map{|team| team.name}.join(",") %>" >
          <%= f.hidden_field :teams, :value => nil %>
        </div>
      </div>

      <div class="editor-headerimage">
        <label>Header Image:</label>
        <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', :id => "imgInp"  %>
        <%= f.hidden_field(:picture_cache) %>
        <label for='imgInp'>
<!--           <p>Note: Your image will be centered/stretched to fit a x by y box, please ensure your image fits these dimesions for optimal results.  If your image looks like trash when reviewed, it will be rejected.  If you are editing this post and your current image appears below, uploading a new image will replace this one whereas doing nothing will keep it.</p> -->
          <% if params[:edit] == 'true' %>
              <img id="image_preivew" src=<%= p.full_size %>>
          <% else %>
              <img id="image_preivew" src="https://usatpatriotswire.files.wordpress.com/2017/09/usatsi_10264566.jpg?w=1000&h=600&crop=1">
          <% end %>
        </label>

      </div>

      <div class="editor-divider">
        <br padding="50px">
        <p>Any content highlighted in blue below will form the body of your post.  Hit the edit button above and hit the check when you are done.  Note: Saving a post here does NOT submit it for submission.  You must submit it in the Creator Center for it to be reviewed and posted.</p>
      </div>



      <div class="editor-content">

        <%= f.hidden_field :content, :value => nil %>
        <div align="center" data-editable data-name="main-content" id="post-edit-block">
          <% if params[:edit] == 'true' %>
              <%== p.content %>
          <% else %>
              <p>You should be able to edit this</p>
        <% end %>
        </div>
        <!-- TODO: Fix this so that people can't self approve their own posts -->
        <%= f.hidden_field :status, :value => "draft" %>
    </div>
  <% end %>
</div>

  <script>
        $('#micropost_picture').bind('change', function() {
          var size_in_megabytes = this.files[0].size/1024/1024;
          if (size_in_megabytes > 50) {
              alert('Maximum file size is 50MB. Please choose a smaller file.');
          }
      });
      function readURL(input) {
          if (input.files && input.files[0]) {
              var reader = new FileReader();

              reader.onload = function(e) {
                  $('#image_preivew').attr('src', e.target.result);
              }

              reader.readAsDataURL(input.files[0]);
          }
      }
      $("#imgInp").change(function() {
          readURL(this);
      });
      $(function() {
          $('#testform').submit(function(e){
              e.preventDefault();
          });

          $('#subject').selectize({create: true});
          var teams = $('#tags').selectize({
              delimiter: ',',
              persist: true,
              create: function(input) {
                  return {
                      value: input,
                      text: input
                  }
              }
          });

          var control = teams[0].selectize;
          control.clear();

          <% if params[:edit] == 'true' %>
            <% p = Post.find(params[:post]) %>
            $("#post_sport").val('<%= p.sport %>').change();
            <% if p.teams != nil %>
              <% for i in p.teams %>
                  control.addItem('<%= i.name %>');
              <% end %>
            <% end %>
          <%end%>
      });

  </script>

</body>
