<style>
@import url('//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400');

</style>

<% provide(:title , @post.title) %>
<div class="row" style="width: 100%; margin-top: 25px;">
	<div class="large-2 columns"><p></p></div>

	<div class="large-7 columns"><br>
		<h1 class="posttitle"><%= @post.title%></h1>
			<% if @post.user == current_user %>
			<h3 >Post Status: <%= @post.status %></h3>
				<% if @post.status == "rejected" %>
					<p>Admin Message: <%= @post.admin_message %></p>
				<% end %>
				<% if @post.status == "draft" or @post.status == "rejected"%>
					  <%= form_for [@post], :html => {:id => 'postsubmit'} do |f| %>
					  <%=link_to "Edit", new_post_path(post: @post, edit:true), :class => 'button tiny' %>
			        <%= f.hidden_field :user_id, :value => current_user.id %>
			        <%= f.hidden_field :title, :value => @post.title %>
			        <%= f.hidden_field :content, :value => @post.content %>
			        <%= f.hidden_field :status, :value => "pending" %>
			        <%= f.submit 'Submit Post', :class => 'button tiny success' %>
				  <% end %>
				<% end %>
			<% end %>
		<br>

			<img id="blah" src=<%= @post.full_size %> />
<!-- 				<img src="https://d2lzcnyuvtotl1.cloudfront.net/uploads/2017/11/USATSI_10395210_168384367_lowres.jpg"/> -->
			<hr>

		<div class="postcontent" style="font-size: 24px; font-family: 'Catamaran', sans-serif;">
		  <%== @post.content %>
	  </div>

		<br><hr>
		<img src= <%= @post.user.full_size %> style="border-radius: 100%; width: 100px; height: 100px; float: left; margin-right: 20px;">
		<h3><%= link_to @post.user.name, user_path(@post.user), :style => "width: 70%; font-weight: bold; font-size: 32px; float: left; padding-top: 2%;" %></h3>
		<h5 style="width: 70%; float: left; padding-top: 7px; font-size: 22px;"><%= @post.user.bio %></h5><br>
		<h5 style="width: 33%; float: left; font-size: 20px;"><%= render partial: 'score', locals: {post: @post}%></h5>
		<hr>

		<h3>Comments</h3>
		<div style="font-size: 24px;">
				<% if user_signed_in? %>
					<% comment = Comment.new %>
					<%= form_for(comment) do |f| %>
						<%= f.label :text %>
					  <%= f.text_field :text %><br />

					  <%= f.hidden_field :target_type, :value => "Post" %>
					  <%= f.hidden_field :target_id, :value => @post.id %>
					  <%= f.hidden_field :user_id, :value => current_user.id%>

					  <%= f.submit  :class => 'button tiny success' %>
					<% end %>
				<% end %>
				</br>
				<ul id="comments-list">
				<% @post.comments.sort_by{|comment| comment.score}.reverse.each do |comment|%>
					<%= render partial: 'comments/comment', locals: {comment: comment}%>
				<% end %>
			</ul>
		</div>
	</div>

	<div class="large-3 columns"><p></p></div>
</div>

<script type="text/javascript">
	// $( "voteonpost" ).click(function() {
	// });
	// $( ".voteoncomment" ).click(function(event) {
	// 	var something = $(this).parent().parent().find(".comment-score");
	// 	var text = something.text();
	// 	var newScore = Number(text) + 1;
	// 	console.log(newScore);
	//   $(something).text(newScore);
	// });

</script>
