<h3 style="display:inline;"><%= @post.title%> - Score: <%= @post.score %></h3>
<p style="display:inline;"><%=link_to "Up", vote_post_path(@post, type: 'up', user_id: current_user.id, id: @post.id), method: :post%></p>
<p style="display:inline;"><%=link_to "Down", vote_post_path(@post, type: 'down', user_id: current_user.id, id: @post.id), method: :post%></p>
<p>Written by: <%= link_to @post.user.username, user_path(@post.user) %></p>
<p> <i>Created <%= time_ago_in_words(@post.created_at)%></i> </p>
<h5><%= @post.content%></h5>