<div class="row">

	<div class="large-12 columns">
		<h1 class="posttitle"><%= @post.title%></h1>


<% if @post.user == current_user %>
<h3 >Post Status: <%= @post.status %></h3>
	<% if @post.status == "rejected" %>
		<p>Admin Message: <%= @post.admin_message %></p>
	<% end %>
	<% if @post.status == "draft" or @post.status == "rejected"%>
			<%=link_to "Edit", edit_post_path(@post) %> 
		  <%= form_for [@post], :html => {:id => 'postsubmit'} do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :title, :value => @post.title %>
        <%= f.hidden_field :content, :value => @post.content %>
        <%= f.hidden_field :status, :value => "pending" %>
        <%= f.submit 'Submit Post' %>
	  <% end %>
	<% end %>
<% end %>

<% if @post.sport != nil %>
<p> Sport: <%= link_to @post.sport, sports_posts_path(:sport => @post.sport) %></p>
<% end %>

</br>

		<div class="postauthor">
			<p>By <%= link_to @post.user.name, user_path(@post.user) %></p>
			</div>
		<div class="postdate">
			<p><i>Created <%= time_ago_in_words(@post.created_at)%></i> </p>
			</div>
		<img src="https://usatpatriotswire.files.wordpress.com/2017/09/usatsi_10264566.jpg?w=1000&h=600&crop=1">
		<hr>
		<div class="postcontent">

		  <h5><%== @post.content %></h5>
	  </div>

		<br>
		<hr>
		<div class="authorfooter">
			<img src='https://upload.wikimedia.org/wikipedia/commons/c/cb/Barack_Obama_Circle.png' width='135px'>
			<h3 class="authorname"><%= link_to @post.user.name, user_path(@post.user) %></h3>
			<h6 class="authorbio">Barack Obama is the 44th president of the United States. He writers for the Huffington Post and enjoys playing basketball in his free time</h6>
		</div>
		<div id="vote_post_container">
			<%= render partial: 'score', locals: {post: @post}%>
		</div>

		</div>

		<h3>Comments:</h3>
		<% if user_signed_in? %>
			<% comment = Comment.new %>
			<%= form_for(comment) do |f| %>
				<%= f.label :text %>
			  <%= f.text_field :text %><br />

			  <%= f.hidden_field :post_id, :value => @post.id %>
			  <%= f.hidden_field :user_id, :value => current_user.id%>

			  <%= f.submit %>
			<% end %>
		<% end %>
		</br>
		<ul>
		<% @post.comments.sort_by{|comment| comment.score}.reverse.each do |comment| %>
			<li class="comment-li" id="comment_<%=comment.id.to_s%>">
				<p style="display:inline;"><%= link_to comment.user.name , comment.user %></p> |
				<p style="display:inline;">Score:  <span class='comment-score'><%= comment.score %></span></p> |
				<% if user_signed_in? %>
					<p style="display:inline;"><%=link_to "Up", comment_vote_path(comment, type: 'up', user_id: current_user.id, id: comment.id), method: :post, :remote => true, :class => "voteoncomment"%></p> |
					<p style="display:inline;"><%=link_to "Down", comment_vote_path(comment, type: 'down', user_id: current_user.id, id: comment.id), method: :post, :remote => true, :class => "voteoncomment"%></p>
				<% end %>
				<p><%= comment.text %></p>
			</li>
		<% end %>
		</ul>
	</div>
	
	<div class="large-4 columns">
			<h2 class="lineups">Top Posts</h2>
			<% Post.all.sort_by{|p| p.score}.reverse.first(5).each do |post| %>
			<p><%= post.title %></p>
		<% end %>

		<h3 class="itemheader1">Today's Leaderboard</h3>
		<ul class="lboardul">
			<% @users.each do |user| %>
			<li class="lboard"><%= link_to user.name, user_path(user) %> <p class="lbscore"><%= user.this_weeks_score %></p></li>
			<% end %>
		</ul>
	</div>

</div>
<script type="text/javascript">
	// $( "voteonpost" ).click(function() {
	// });
	$( ".voteoncomment" ).click(function(event) {
		var something = $(this).parent().parent().find(".comment-score");
		var text = something.text();
		var newScore = Number(text) + 1;
		console.log(newScore);
	  $(something).text(newScore);
	});

</script>














