<% provide(:title , @post.title) %>
<div class="row" style="background-color: white;">
	<div class="large-8 columns" style="background-color: white;">
		<h1 class="posttitle"><%= @post.title%></h1>
			<% if @post.user == current_user %>
			<h3 >Post Status: <%= @post.status %></h3>
				<% if @post.status == "rejected" %>
					<p>Admin Message: <%= @post.admin_message %></p>
				<% end %>
				<% if @post.status == "draft" or @post.status == "rejected"%>
					  <%= form_for [@post], :html => {:id => 'postsubmit'} do |f| %>
					  <%=link_to "Edit", new_post_path(post: @post, edit:true), :class => 'button tiny' %>
			        <%= f.hidden_field :user_id, :value => current_user.id %>
			        <%= f.hidden_field :title, :value => @post.title %>
			        <%= f.hidden_field :content, :value => @post.content %>
			        <%= f.hidden_field :status, :value => "pending" %>
			        <%= f.submit 'Submit Post', :class => 'button tiny success' %>
				  <% end %>
				<% end %>
			<% end %>

		<div class="postauthor">
			<p>By <%= link_to @post.user.name, user_path(@post.user) %>  |  <%= time_ago_in_words(@post.created_at)%> ago</p>
		</div>
		<br>

		<img src="http://i.huffpost.com/gen/1320986/thumbs/o-AUTUMN-LEAVES-NEW-HAMPSHIRE-facebook.jpg">
			<img id="blah" src=<%= @post.full_size %> />
<!-- 				<img src="https://d2lzcnyuvtotl1.cloudfront.net/uploads/2017/11/USATSI_10395210_168384367_lowres.jpg"/> -->
			<hr>

		<div class="postcontent">
		  <%== @post.content %>
	  </div>

		<br><hr>



				<h3>Comments:</h3>
				<% if user_signed_in? %>
					<% comment = Comment.new %>
					<%= form_for(comment) do |f| %>
						<%= f.label :text %>
					  <%= f.text_field :text %><br />

					  <%= f.hidden_field :post_id, :value => @post.id %>
					  <%= f.hidden_field :user_id, :value => current_user.id%>

					  <%= f.submit  :class => 'button tiny success' %>
					<% end %>
				<% end %>
				</br>
				<ul id="comments-list">
				<% @post.comments.sort_by{|comment| comment.score}.reverse.each do |comment| %>
					<%= render partial: 'comments/comment', locals: {comment: comment}%>
				<% end %>
			</ul>
	</div>

	<div class="large-3 columns" STYLE="background-color: white; margin-left: 2%;">
		<h3><b>Post Stats</b></h3>
			<h5><%= render partial: 'score', locals: {post: @post}%></h5>
			<% if @post.sport != nil %>
			<h5> Sport: <%= link_to @post.sport, sports_path(:sport => @post.sport) %></h5>
			<% end %>
			<% if @post.teams != nil %>
			<h5>Teams: <% for i in @post.teams %><%= link_to i.name, team_path(:id => i.id)%></h5><% end %>
			<% end %>
			<hr>
				<img src= <%= @post.user.full_size %>  style="border-radius:50%; height:130px; width:130px;">
				<h3><%= link_to @post.user.name, user_path(@post.user) %></h3>
				<h5 style="width: 100%; padding-top: 10px;">Bio:  <%= @post.user.bio %></h5>
		  <hr>
	</div>
</div>

<script type="text/javascript">
	// $( "voteonpost" ).click(function() {
	// });
	// $( ".voteoncomment" ).click(function(event) {
	// 	var something = $(this).parent().parent().find(".comment-score");
	// 	var text = something.text();
	// 	var newScore = Number(text) + 1;
	// 	console.log(newScore);
	//   $(something).text(newScore);
	// });

</script>
