<style>
@import url('//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400');

</style>

<% provide(:title , @post.title) %>
<div class="row" style="width: 100%; margin-top: 25px;">
	<div class="large-6 columns large-centered"><br>
		<h1 class="posttitle"><%= @post.title%></h1>
			<% if @post.user == current_user %>
			<h3 >Post Status: <%= @post.status %></h3>
				<% if @post.status == "rejected" %>
					<p>Admin Message: <%= @post.admin_message %></p>
				<% end %>
				<% if @post.status == "draft" or @post.status == "rejected"%>
					  <%= form_for [@post], :html => {:id => 'postsubmit'} do |f| %>
					  <%=link_to "Edit", new_post_path(post: @post, edit:true), :class => 'button tiny' %>
			        <%= f.hidden_field :user_id, :value => current_user.id %>
			        <%= f.hidden_field :title, :value => @post.title %>
			        <%= f.hidden_field :content, :value => @post.content %>
			        <%= f.hidden_field :status, :value => "pending" %>
			        <%= f.submit 'Submit Post', :class => 'button tiny success' %>
				  <% end %>
				<% end %>
			<% end %>
		<br>

			<img id="blah" src=<%= @post.full_size %> />
<!-- 				<img src="https://d2lzcnyuvtotl1.cloudfront.net/uploads/2017/11/USATSI_10395210_168384367_lowres.jpg"/> -->
			<hr>

		<div class="postcontent" style="font-size: 24px;">
		  <%== @post.content %>
	  </div>

		<br><hr>
		<div class="large-10 columns">
			<img src= <%= @post.user.full_size %> style="border-radius: 100%; max-width: 28%; width: 100px; height: 100px; float: left; margin-right: 4%; margin-bottom: 4%">
			<h3><%= link_to @post.user.name, user_path(@post.user), :style => "font-weight: bold; font-size: 29px; float: left; padding-top: 2%; width: 65%" %></h3>
			<h5 style="float: left; font-size: 18px; line-height: 1; width: 65%"><%= @post.user.bio %></h5><br></div>
		<div class="large-2 columns" style="padding-top: 2%;">
		<h6 style="float: left; text-align: center;"><%= render partial: 'score', locals: {post: @post}%></h6></div>
		<br><hr></br>

		<h4 style="margin-left: 15px;">Comments</h4>
		<div style="font-size: 24px;">
				<% if user_signed_in? %>
				<div class="large-10 columns">
					<% comment = Comment.new %>
					<%= form_for(comment) do |f| %>
					  <%= f.text_field :text, placeholder: "add comment" %>

					  <%= f.hidden_field :target_type, :value => "Post" %>
					  <%= f.hidden_field :target_id, :value => @post.id %>
					  <%= f.hidden_field :user_id, :value => current_user.id%></div>
						<div class="large-2 columns" style="padding: 0px;">
					  <%= f.submit  :class => 'button tiny success' %></div>
					<% end %>
				<% end %>

				<ul id="comments-list">
				<% @post.comments.sort_by{|comment| comment.score}.reverse.each do |comment|%>
					<%= render partial: 'comments/comment', locals: {comment: comment}%>
				<% end %>
			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
	// $( "voteonpost" ).click(function() {
	// });
	// $( ".voteoncomment" ).click(function(event) {
	// 	var something = $(this).parent().parent().find(".comment-score");
	// 	var text = something.text();
	// 	var newScore = Number(text) + 1;
	// 	console.log(newScore);
	//   $(something).text(newScore);
	// });

</script>
