<div class="row">
	<div class="large-2 columns">
			<ul>
					<% for i in Team.where(sport_string: params[:sport]) %>
							<li><%= link_to i.name, team_path(i.id)%></li>
					<%end%>
			</ul>

	</div>

	<div class="large-7 columns">
		<% if @posts.count != 0 %>
			<h3 class="itemheader">Recent <%= @posts.first.sport.capitalize %> Posts </h3>
		<% end %>
		<% @posts.each do |post| %>
			<div class='post'>
					<img width="250px" src=<%= post.full_size %>>
					<div class="pcontent">
						<h3 class="ptitle"><%= link_to post.title, post_path(post) %></h3>
						<h6 class="pscore">Score: <%= post.score %></h6>
						<p class="pauthor">By: <%= link_to post.user.name, post.user %></p><hr>
						<p class="date"></p>
					</div>
			</div>
			<% end %>
			<%= will_paginate @posts %>
	</div>

	<div class="large-3 columns" style="background-color: #f9f9f9;">
		<% if @posts.count != 0 %>
		<h3 class="itemheader">Today's <%= @posts.first.sport.capitalize %> Leaderboard</h3>
		<% end %>
			<ul class="lboardul">
				<% @users.each do |user| %>
					<img src=<%= user.thumbnail %> style="width:75px; height:75px; border-radius:50%;">
						<div class="lcell">
							<li class="lboard"><%= link_to user.name, user_path(user) %>
							<p class="lbscore"><%= user.this_weeks_score %></p></li><hr>
						</div>
						<% end %>
			</ul>

		<h3 class="itemheader">Top Posts</h3>
			<% Post.all.sort_by{|p| p.score}.reverse.first(5).each do |post| %>
				<img src=<%= post.full_size %>>
				<p><%= post.title %></p>
			<% end %>
	</div>
</div>
