<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Scorekeepers" %></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

    <%=  javascript_include_tag 'foundation' %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <% if Rails.env == "production"  %>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113741902-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113741902-1');
    </script>
    <% end %>



<!--     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.1/css/foundation.min.css"> -->



<!--     // <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js" integrity="sha256-Nd2xznOkrE9HkrAMi4xWy/hXkQraXioBg9iYsBrcFrs=" crossorigin="anonymous"></script> -->


    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= render 'shared/header' %>
  <p class="notice" style='text-align:center;width:100%;color:green;  '><%= notice %></p>
  <p class="alert" style='text-align:center;width:100%;color:red;'><%= alert %></p>
    <%= yield %>
    <%= javascript_include_tag "application" %>
    <%= render 'shared/footer' %>
  </body>
</html>
